@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  text-align: center;

    }
  
  .button{
  	margin: 0 5px;
  	border: 1px solid blue;
  	border-radius: 3px;
  	color: white;
  	cursor: pointer;
  	background-color:red;

  }

.mainImage {

  }

.picContainer {
	margin: 20px
}

.picList {
	width: 250px;
	height: 250px;
	text-align: center;
	float: left;
	overflow: hidden;
	border: 1px solid blue;
}

